@keyframes spiral {
     0% {transform: rotate(0deg); }

    100% {transform: rotate(360deg);} 
}
#camara #espiral { 
      transform-box: fill-box;
    transform-origin: 50% 50%;
    animation: spiral 30s linear infinite; 
    transition: all 0.5 ease;
}
#camara:hover #espiral{ 
transform: scale(95%);
}
